@import "./reset.scss";
@import "./fonts.scss";

* {
    z-index: 0;
}

body {
    font-family: 'Bangers';
    overflow: hidden;
}

.fullscreen {
    display: grid;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.center {
    justify-items: center;
    align-items: center;
}

.black-bg {
    background-color: black;
}

.white-text {
    color: white;
}

.hidden {
    display: none;
}

.settings-btn {
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
}

.settings-btn img {
    width: 35px;
    height: 35px;
    padding: 15px;
}

#container {
    margin: 0 auto;
    width: 480px;
}

canvas {
    background-color: black;
}

#settings {
    z-index: 200;
}

#settings h1 {
    font-size: 40px;
}

#settings p {
    font-size: 25px;
    padding: 10px;
}