@import "./reset.scss";
@import "./fonts.scss";

body {
    font-family: 'Bangers';
}

.fullscreen {
    display: grid;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.center {
    justify-items: center;
    align-items: center;
}

.black-bg {
    background-color: black;
}

.white-text {
    color: white;
}

.hidden {
    display: none;
}