@import "./reset.scss";
@import "./fonts.scss";

body {
    font-family: 'Bangers';
}

.fullscreen {
    display: grid;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.center {
    justify-items: center;
    align-items: center;
}

.black-bg {
    background-color: black;
}

.white-text {
    color: white;
}

.hidden {
    display: none;
}

* {
    z-index: 0;
}

.settings-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.settings-btn img {
    width: 50px;
    height: 50px;
}